body{
	background-image: url('../../../common/assets/images/concrete_seamless.png');
}

h1{
	font-size: 5em;
	color: royalblue;
}

.top-margin{
	margin-top: 5%;
}

.mm-page{
	background: transparent !important;
}

.margin-top-70 {
	margin-top: 70px;
}

.margin-top-5 {
	margin-top: 5px;
}